body {
	width: 50em;
	margin: 1em auto;
	line-height: 1.5;
	font-family: Georgia, 'Times New Roman', serif;
	background: #f2f1f0;
	color: #191715;
}

h1 {
	font-size: 1.5em;
	font-style: italic;
	font-weight: normal;
	margin: 1em 0;
}

p {
	margin: 1.5em 0;
}